/*
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif;
*/
body{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #000000;  
}
.stopscroll {
    overflow: hidden;
}
a {
    color: inherit;
}
html {
    scroll-behavior: smooth;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/*==============Header==============*/

.header {
    background-color: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 11;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
}
.nav__menu {
    /* flex: 1 1 auto; */
}
.menu {
    display: flex;
    
}
.menu__list {
    display: flex;
    
}
.menu__list_item {
    color: #fff;
    text-transform: capitalize;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 14px;
    line-height: 0.7;
    padding: 33px 28px 31px 28px;
}
.menu__list_item:hover {
    background: #EC7979;
    transition: all 0.9s ease;
}
.menu__list_item:active {
    background: #AB4949;
}
.menu__list_item_link {
}

.burger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
@media  (max-width:767px) {
    .burger {
        display: block;
    }
    .burger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .burger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .burger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .menu__list {
        position: fixed;
        left: -100%;
        top: 71px;
        gap: 0;
        flex-direction: column;
        background-color: black;
        width: 100%;
        min-height: 100%; /* !!!!!!!!!!!!!! */
        display: block; /* !!!!!!!!!!!!!!!!! */
        text-align: center;
        transition: 0.3s;
        padding: 20px 0;
        border: none;
    }
    .menu__list li {
        margin-bottom: 20px;
    }
    .menu__list.active {
        left: 0;
    }
    .menu__list.active {
        border: none; 
        border-radius: none; 
        border-bottom: none;
    }
    .burger.active {
        border: none; 
        border-radius: none; 
        border-bottom: none;
    }
}

/*==============Main==============*/

.main {
    background: url(../img/mainbg.jpg) 0 0/100% 100% no-repeat;
    background-size: cover;
    position: relative;

}
.main::before {  /*Подложка фона для картинки*/
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.main__inner {
    position: relative;
    display: flex;
    justify-content: space-between; 
    padding: 207px 0 183px;
    z-index: 10;
    margin: auto;
}
.main__content {
    color: #fff;
}
.logo {
    display: block;
}
h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    max-width: 670px;
    margin: 50px 31px 31px 0;
    padding-bottom: 41px;
    position: relative;
}
h1::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background: #FFFFFF;
    left: 0;
    bottom: 0;
}
.main__text {
    max-width: 270px;
    margin-bottom: 42px;
}
.btn {
    font-family: 'Open Sans', sans-serif;
    display: block;
    border: 2px solid #FFFFFF;
    padding: 21px 0;
    text-align: center;
}
.main__btn {
    width: 270px;
}

.btn:hover {
    border: 2px solid #EC7979;
    color: #EC7979;
}
.btn:active {
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #fff;
}

.main__form {
    min-width: 40%;
}
.main__form_card {
    max-width: 470px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}
.form_card_content {
    padding: 37px 50px 0 50px;
}
.form_card__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 73px;
}
.form_card__title span {
    color: #EC7979;
}
.form {
    width: 100%;
    margin-bottom: 75px;
}
.input__inner {
    width: 100%;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 33px;
    display: flex;
    flex-direction: column;
}
.input__inner input {
    font-size: 18px;
}
.input__inner:last-child {
    margin-bottom: 0;
}
.form__btn {
    width: 100%;
    padding: 25px 0;
    min-height: 60px;
    background: #EC7979;
    color: #fff;
    text-transform: capitalize;
}

.input__inner label {
    float: left;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
@media (max-width: 1024px) {
    h1 {
        max-width: 454px;
        font-size: 36px;
        line-height: 42px;
    }
    .main__text {
        max-width: 183px;
        font-size: 14px;
        line-height: 16px;
    }
    .main__btn {
        width: 183px;
        padding: 17px 0;
    }
    .form_card__title {
        font-size: 18px;
        line-height: 25px;
    }
}
@media (max-width: 767px) {
    .main__inner {
        padding: 140px 0 50px;
    }
    h1 {
        margin-right: 0;
    }
    .main__inner {
        flex-direction: column;
        align-items: center;
    }
    .logo__content {
        display: none;
    }
    .main__content {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 56px;
    }
    h1 {
        max-width: 100%;
    }
    h1::after {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main__form {
        width: 100%;
    }
    .main__form_card {
        margin: 0 auto;
    }
}
@media (max-width: 425px) {
    .main__btn {
        width: 100%;
    }
}
@media (max-width: 425px) {
    .form_card_content {
        padding: 37px 20px 0 20px;
    }
}
@media (max-width: 320px) {
    .main__text {
        max-width: 100%;
    }   
    .main__btn {
        max-width: 100%;
    }
    .form_card__title {
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 19px;
    }
    .form {
        margin-bottom: 51px;
    }
}
/* .main__form {
    display: flex;
    justify-content: center;
    min-width: 40%;
    
}
.main__form_card {
    font-family: 'Open Sans', sans-serif;
    width: 470px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
} */
/* .form_card_content{
    
    min-width: 40%;
    max-width: 470px;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 300px;
}
.form_card__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 73px;
    padding-top: 29px;
}
span {
    color: #EC7979;
}
.form {
    margin-bottom: 75px;
    max-width: 370px;

}
.input__inner {
    width: 100%;
    height: 38px;
    margin-bottom: 33px;   
}
input {
    max-width: 100%;
    height: 38px;
    border-bottom: 1px solid #BDBDBD;
    font-weight: 400;
    
}
input::placeholder {
    font-weight: 400;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #BDBDBD;

}
.input__inner:nth-child(3) {
    margin-bottom: 0;
}
.form__btn {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    height: 60px;
    background: #EC7979;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    text-transform: capitalize;
}
.form__btn:hover {
    background: #AB4949;
}
.form__btn:active {
    box-shadow: inset 0px 0px 10px #AB4949;
    background: #EC7979;
}
 */
  /*  @media (max-width: 1024px) {
    .logo {
        margin: 0 auto;
    }
    .main__inner {
        flex-direction: column;
        justify-content: space-between;
    }
    .btn {
        display: block;
        margin: 0 auto;
        margin-top: 42px;
        margin-bottom: 56px;
    }
    .main__content {
        text-align: center;
        color: #fff;
    }
    .main__text {
        display: block;
        margin: 0 auto;
    }
    h1 {
        display: block; 
        margin: 0 auto; 
        text-align: center; 
        max-width: 454px;
        font-size: 36px;
        line-height: 42px;
    }
    h1::after {
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main__form {
        width: 100%;
    }
    .logo__content {
        display: none;
    }
    .main__text {
        margin-top: 42px;
    }
    @media (max-width: 767px) {
        .btn {
            width: 100%;
        }
    }
}
@media (max-width:767px) {
    .main__inner {
        padding: 140px 0 50px;
    }
}
 */
/*==============Social media==============*/

.section__social {
    background: #F8EFEF;
    padding: 14px 0 18px;
}
.social__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social__text {
    max-width: 470px;
    color: #86878B;
}
.media__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
    margin-bottom: 31px;
}
.social__img {
}
.social__list li {
    display: inline-block;
    margin-right: 21px;
}
.social__list li:last-child {
    margin-right: 0;
}
@media (max-width:1024px) {
    .social__inner {
        
    }
    .social__content {
        max-width: 348px;
        /* text-align: center;
        margin-bottom: 32px */
    }
    .media__title {
        font-size: 18px;
        line-height: 25px;
    }
    .social__text {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width:767px) {
    .social__inner {
        flex-direction: column;

    }
    .social__list_item img {
        width: 26px;
        height: 26px;
    }
    .social__img {
        text-align: center;
    }
    .section__social {
        padding: 31px 0 44px;
    }
    .social__content {
        text-align: center;
        margin-bottom: 32px;
    }
    .social__list li {
        margin-right: 13px;
    }
    .social__list li:last-child {
        margin-right: 0;
    }
}
/*===========Tabs==========*/ 

.section__tabs {
    margin: 100px 0 50px;
}
.tabs__wrapper {
}
.list__group {
    margin-bottom: 15px;
}
.list-group-item  {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: inline;
    text-transform: uppercase;
    padding: 14px 8%;
    margin-bottom: 40px;
    cursor: pointer;
}
.active {
    border: 1px solid #C6CBCD;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #fff;
}
.card {
    margin-top: -1px;
    border: 1px solid #C6CBCD;
    display: flex;
    transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.card__info {
    padding-right: 30px;
    padding-bottom: 54px;
    padding-left: 100px;
}
.tabs__title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.tabs__text {
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    color: #000000;
    width: 100%;
    margin-bottom: 20px;
}
.btn__wrapper {
    margin-top: 50px;
}
.tab__btn {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: 25px;
    padding: 15px 90px;
    color: #fff;
    background: #EC7979;
}

.tab__btn:hover {
    background: #AB4949;
}
.tab__btn:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
.hidden {
    display: none;
}
@media (max-width: 1024px) {
    .section__tabs {
        margin: 50px 0 50px;
    }
    .card__tab_img {
        width: 40%;
    }
    .tabs__title {
        font-size: 24px;
        line-height: 33px;
    }
    .tabs__text {
        font-size: 14px;
        line-height: 16px;
    }
}
@media (max-width: 980px) {
    .card__tab_img {
        display: none;
    }
}
@media (max-width: 767px) {
    .section__tabs {
        margin: 41px 0 41px;
    }
    .card {
        text-align: center;
    }
    .card__info {
        padding: 0 24px 60px 24px;
    }
    .tabs__title {
        margin-top: 29px;
        margin-bottom: 29px;
        font-size: 18px;
        line-height: 25px;
    }
    .section__tabs {
        margin-bottom: 0;
    }
} 
@media (max-width: 350px) {
    
    .card__info {
        padding: 0 20px 60px 20px;
    }
    
    .tabs__text {
        font-size: 13px;
        line-height: 15px;
    }
    .tab__btn {
        padding: 19px 79px;
    }
}
/*===========Benefits Awesome==========*/ 

.section__benefits {
    margin: 50px 0 58px;
    text-align: center;
}
.title {
    font-family: 'Raleway'sans-serif; 
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-transform: uppercase;
    position: relative;
    padding: 62px 0;
    margin-bottom: 40px;
    text-align: center;
}
.title::after {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background: #EC7979;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
}
.text {
    font-family: 'Raleway';
    color: #86878B;
    margin-bottom: 71px;
    text-align: center;
}
.benefits__card-wrapper {
    display: flex;
    justify-content: space-between;
}
.benefit__card {
    width: 370px;
    height: 383px;
}
.benefit__card_img {
    display: block;
    margin: 0 auto;
}
.card__title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
    padding: 42px 0 41px;
}
.card__text {
    font-family: 'Raleway';
    text-align: center;
    color: #000000;
}
@media (max-width: 1024px) {
    .section__benefits {
        margin: 0 0 60px;
    }
    .benefits__card-wrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .card__title {
        font-size: 18px;
        font-size: 21px;
        line-height: 33px;
    }
    .card__text {
        font-family: 'Raleway';
        text-align: center;
        color: #000000;
    }
    .benefit__card {
        max-width: 317px;
        height: 383px;
        margin: 0 auto;
    }
}
@media (max-width: 320px) {
    .benefit__card {
        width: 100%;
    }
    .title {
        padding: 50px 0;
    }
}

/*===========pricing options ==========*/ 

.section__options {
    padding: 0 0 1px 0;
    background: #F5F5F5;  
}

.options__wrapper {
    margin: 50px 0 50px;
    text-align: center;
}

.options__card_wrapper {
    display: flex;
    /* flex: 1 1 250px; */
    justify-content: space-between;
}
.option__card {
    width: 32%;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
}
.option__card:hover {
   /*box-shadow: (0px 4px 20px rgba(51, 51, 51, 0.2));*/
   filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
   
   transform: translate(0px, -20px);
}
.option__card__list {
    font-family: 'Raleway';
font-style: normal;
}
.option__card__list_item {
    color: #86878B;
    padding: 15px 0;
    background: #FFFFFF;
    border: 1px solid #F5F5F5;
}
.option__card__list_item:nth-child(1) {
    background: #333333;
    border: 1px solid #F5F5F5;
    padding: 21px 0 20px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.option__card__list_item:nth-child(2) {
    background: #333333;
    border: 1px solid #F5F5F5;
    padding: 33px 0 32px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #fff;
}

.option__card__list_item:nth-child(3) {
    background: #333333;
    border: 1px solid #F5F5F5;
    padding: 15px 0;
    color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 1024px) {
    .options__card_wrapper {
        flex-wrap: wrap;
    }
    .option__card {
        /* max-width: 317px; */
        max-width: 100%;
        margin-bottom: 27px;
    }
}
@media (max-width: 767px) {
    .options__card_wrapper {
        display: flex;
        flex-direction: column;
    }
    .option__card {
        width: 100%;
    }
    .options__wrapper {
        margin: 0;
    }
}

/*=============Section reviews==================*/

.section__reviews {
    padding: 50px 0;
}
.reviews__card_inner {
    display: flex;
    justify-content: space-between;
}
.reviews__card {
    width: 32%;
    margin-bottom: 64px;
}
.reviews__card_text {
    background: #E2E2E2;
    border-radius: 10px;
    padding: 38px 24px;
    text-align: center;
    color: #86878B;
    margin-bottom: 60px;
    position: relative;
}
.reviews__card_text::after {
    content: '';
    position: absolute;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
    left: 50px;
    bottom: -20px;
}

.reviews__card_person_info {
    display: flex;
    
}
.reviews__card_person {
   margin-left: 30px;
    
}
.person__img {
    height: 70px;
    width: 70px;
    
}
.person__title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    margin-bottom: 25px;
}

@media (max-width: 1024px) {
    .section__reviews {
        padding: 0px 0;
    }
    .reviews__card_inner {
        
    }
    .reviews__card {
        flex-wrap: wrap;
        width: 100%;
        margin-right: 10px;
    }
    .reviews__card:last-child {
        margin-right: 0;
    }
    .person__title {
        font-size: 18px;
    }
    .person__work {
        font-size: 14px;
    }
    /* Слайдер */
    .slick-list {
    overflow: hidden;
    }
    .slick-track{
    display: flex;
    }
    .slick-dots{ 
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 23px;
    }
    .reviews__card_inner .slick-dots li{
        list-style: none;
        margin: 0 50px;
    }
    /* Активная точка */
    .reviews__card_inner .slick-dots li.slick-active button{
        background-color : #86878B;
    }
    /* Элемент точки */
    .reviews__card_inner .slick-dots li button{
        font-size: 0;
        width: 10px;
        height: 10px;
        border: 1px solid #86878B;
        border-radius: 50%;
        background-color: #fff;
    }
}
@media (max-width: 767px) {
    .section__reviews {
        padding: 0 0 31px;
    }
    .reviews__card_inner {
        display: flex;
        flex-direction: column;
    }
    .reviews__card {
        margin-right: 0;
    }
}

/*=============Section banner==================*/

.section__banner {
    padding: 50px 0;
    background: url(../img/banner\ bg.jpg) 0 0/100% 100% no-repeat;
}
.banner__inner {
    text-align: center;
}
.white {
    color: #fff;
}
.white::after {
    content: '';
    background: #fff;
}
.btn__banner {
    width: 370px;
    color: #fff;
    text-transform: capitalize; 
    margin: 0 auto;  
}
@media (max-width: 1024px) {
    .section__banner {
        background: url(../img/banner\ bg.jpg) no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media (max-width: 767px) {
    .btn__banner {
        width: 100%;
    }
    .section__banner {
        padding: 0 0 58px;
    }
}
/*=============Section contact==================*/

.section__contact {
    padding: 50px 0;
}
.contact__inner {
    text-align: center;
}
.contact-form__inner {
    margin-bottom: 50px;

}
.form__contactus {
    display: flex;
    justify-content: space-between;
}
.contact--form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 49%;
}
.contact--form__inner label {
    float: left;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact--form input {
    border-bottom: 1px solid #BDBDBD;;
}
.contact-input {
    font-size: inherit;
    width: 100%;
}
.contact-message {
    width: 49%;
    border-bottom: 1px solid #BDBDBD;
}
textarea {
    padding-top: 10px;
    font-size: inherit;
    width: 100%;
    resize: none;
}
.contact-message label {
    float: left;
    font-size: 14px;
    line-height: 19px;
    color: #BDBDBD;
}
.contact__btn {
    margin-top: 17px;
    width: 370px;
    text-align: center;
    padding: 21px 0;
    color: #fff;
    background: #EC7979;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.contact__btn:hover {
    background: #AB4949;
}
.contact__btn:active {
    background: #EC7979;
    box-shadow: inset 0px 0px 10px #AB4949;
}
@media (max-width: 767px) {
    .contact__btn  {
        width: 100%;
    }
    .form__contactus {
        flex-direction: column;
    }
    .contact--form  {
        width: 100%;
        margin-bottom: 50px;

    }
    .contact-message {
        width: 100%;
        min-height: 203px;
    }
    .section__contact {
        padding: 0 0 40px;
    }
}


/*=============Footer==================*/

footer {    
    background: #000000;
}
.footer__content {
   text-align: center;
   padding: 35px 0 27px;
}
.footer__link:not(:last-child) {
    margin-right: 32px;
}
.footer__link_wrapper {
    margin-bottom: 28px;
}
svg path:hover {
    fill: white;
    box-shadow: 0 0 15px white;
    transition: all 0.3s;
} 
.footer__text {
    color: rgba(255, 255, 255, 0.5);

}
@media (max-width: 767px) {
    .footer__link svg {
        width: 26px;
        height: 26px;
    }
    .footer__link:not(:last-child) {
        margin-right: 13px;
    }
}
@media (max-width: 320px) {
    .footer__link:not(:last-child) {
        margin-right: 13px;
    }
}



.hide {
    display: none;
}